<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Car List</title>
  <link rel="stylesheet" th:href="@{/css/cars-styles.css}">
</head>
<body>
<h1>List of Cars</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Registration Number</th>
    <th>Year of Production</th>
    <th>Mileage</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="car : ${cars}">
    <td th:text="${car.id}"></td>
    <td th:text="${car.brand}"></td>
    <td th:text="${car.model}"></td>
    <td th:text="${car.registrationNumber}"></td>
    <td th:text="${car.yearOfProduction}"></td>
    <td th:text="${car.mileage}"></td>
  </tr>
  </tbody>
</table>
<a href="/">Strona glowna</a>
</body>
</html>
